{% extends "base.html" %}

{% block title %}Acerca del Curso{% endblock %}

{% block content %}
<h1>Acerca del Curso</h1>
<p>Este curso está dirigido a todas aquellas personas, igual como tú, que quieran iniciarse en la costura y manejarse con la máquina de coser, tengas ya tu propia máquina de coser o no.
Empezaremos con la máquina de coser, a ver todo su funcionamiento y posibilidades y crearemos un primer proyecto.</p>
<p2>Estos son algunas de las cosas que haremos:
Enhebrar la Máquina / Hacer Canilla/ Coser en Recto, Zig zag y Decorativas / Coser Esquinas y Curvas, 
Rematar / Sobrehilar / Poner una Cremallera / Engrasar la Máquina /Cambiar la aguja
 / Cambiar el Prensatelas /Planchar y acomodar el Tejido / Darle la vuelta a las esquinas y acabado de la prenda. </p2>
{% endblock %}