{% extends "base.html" %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>CURSOS DE INICIACIÓN A LA COSTURA 🌸</h1>
<img src="{% static 'img/portada.jpg' %}" alt="Portada del curso" style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.2);">
<p>Quieres dar uso a tu máquina de coser y empezar tus primeras puntadas?</p>
<p>  Este curso está dirigido a todas aquellas personas, igual como tú, que quieran iniciarse en la costura y manejarse con la máquina de coser, tengas ya tu propia máquina de coser o no.

Empezaremos con la máquina de coser, a ver todo su funcionamiento y posibilidades y crearemos un primer proyecto.

En un grupo reducido de alumnas, y en el que cada una tiene su máquina de coser y espacio de trabajo durante toda la clase.

Este curso se imparte generalmente los sábados por la mañana. </p>
{% endblock %}